@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-grotesk), var(--font-geist-sans), sans-serif;
}

/* Hide all Mapbox UI elements */
.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-attrib,
.mapboxgl-ctrl,
.mapboxgl-canvas:focus {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

.mapboxgl-canvas {
  outline: none !important;
}
